<template>
    <template if:true={displayedRows}>
      <div style={boxClass}>

        <template if:false={showAllContactInfo}>
          <section aria-describedby="dialog-body-id-99" aria-label="Dialog Title" class="slds-popover slds-nubbin_left slds-popover_small" role="dialog">
            <lightning-button-icon
              class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close"
              title="Close dialog"
              icon-name="utility:close"
              variant="bare"
              onclick={handleCloseModal}>
            </lightning-button-icon>
            <div class="slds-popover__body" id="dialog-body-id-99">
                <template if:false={displayedRows.isEmail}>
                  <div class="slds-m-left_xx-small slds-m-top_xx_small">
                    <lightning-formatted-phone
                      value={displayedRows.value}
                      onclick={handlePhoneClick}>
                    </lightning-formatted-phone>
                  </div>
                </template>
    
                <template if:true={displayedRows.isEmail}>
                  <lightning-button
                      label={displayedRows.value}
                      name={displayedRows.value}
                      variant="base"
                      onclick={handleEmailClick}>
                  </lightning-button>
                </template>
  
  
            </div>
          </section>
        </template>
  
        <template if:true={showAllContactInfo}>
          <article class="slds-card">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">

                </div>
                <div class="slds-media__body">
                  <h2 class="slds-card__header-title">

                    <span>Reach Out</span>
                  </h2>
                </div>
                <div class="slds-no-flex">
                  <lightning-button-icon icon-name="utility:close" title="Close" variant="bare" onclick={handleCloseModal}></lightning-button-icon>
                </div>
              </header>
            </div>            
            <footer class="slds-card__footer">
              <template if:true={displayedRows}>
                <template for:each={displayedRows} for:item="r">
                    <lightning-layout key={r.fieldName} multiple-rows="true">
                        <template if:true={r.isEmail}>
                            <lightning-layout-item size="12">
                                <div class="slds-m-left_xx-small">
                                    <b>{r.label}</b>
                                </div>
                            </lightning-layout-item>
                            <lightning-layout-item size="12">
                                <div class="slds-m-left_xx-small">
                                    <lightning-button
                                        label={r.value}
                                        name={r.value}
                                        variant="base"
                                        onclick={handleEmailClick}>
                                    </lightning-button>
                                </div>
                            </lightning-layout-item>
  
                        </template>
                        <template if:false={r.isEmail}>
                            <lightning-layout-item size="12">
                                <div class="slds-m-left_xx-small">
                                    <b>{r.label}</b>
                                </div>
                            </lightning-layout-item>
                            <lightning-layout-item size="12">
                                <div class="slds-m-left_xx-small slds-m-bottom_small">
                                    <lightning-formatted-phone
                                        value={r.value}
                                        onclick={handlePhoneClick}>
                                    </lightning-formatted-phone>
                                </div>
                            </lightning-layout-item>
                        </template>
                    </lightning-layout>
                </template>
            </template>
            </footer>
          </article>
        </template>
      </div>
    </template>

</template>