<template>
    <lightning-card>
        <template if:true={records}>
            <c-custom-datatable
                data={records}
                columns={displayedColumns}
                key-field="Id"
                hide-checkbox-column="true"
                onsymbolclick={handleSymbolClick}>
            </c-custom-datatable>
        </template>

        <template if:true={showComposeEmailPopup}>
            <c-send-email
                name='sendEmailModal'
                target-email={selectedEmail}
                onclosemodal={handleClose}>
            </c-send-email>
        </template>
        
        <!-- <lightning-button label="DEBUG BTN" variant="destructive" onmousedown={handleDebugMouseDown}></lightning-button> -->

        <template if:true={showPopover}>
            <c-contact-info-popover
                top-margin={top}
                left-margin={left}
                name='contactInfoModal'
                contact-info-fields={contactInfoFields}
                show-all-contact-info={showAllContactInfo}
                row-data={selectedRowData}
                oncomposeemail={handleEmailClicked}
                onclosemodal={handleClose}>
            </c-contact-info-popover>
        </template>

    </lightning-card>
</template>