<template>
    <div class="slds-align_absolute-center">
        <lightning-button-icon
            label=""
            variant="bare"
            icon-name={iconName}
            onmousedown={handleClick}>
        </lightning-button-icon>
    </div>

</template>